* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
html {
  height: 100%;
}
.fullscreen-spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #225470;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  margin-top: 30px;
}
/* nav styles */
.navbar-brand {
  font-weight: 900;
}
@media (max-width: 500px) {
  .navbar-brand {
    font-weight: 900;
    font-size: 1rem;
  }
}
@media (max-height: 425px) {
  .navbar-brand {
    font-size: 1rem;
  }
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #34b3a0 !important;
}
.fa-bars {
  font-size: 1.5rem;
  color: white;
}
@media (max-height: 425px) {
  .fa-bars {
    font-size: 1rem;
  }
}
.navbar {
  transform: translateZ(0);
}
header.fullscreen-landing {
  display: flex;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(34, 84, 112, 0.85), rgba(34, 84, 112, 0.85)), url('../img/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white;
}
@media (min-width: 992px) {
  header.fullscreen-landing {
    background-attachment: fixed;
  }
}
.landing-content {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}
.landing-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .landing-content h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
}
.landing-content p {
  font-size: 1.5rem;
  display: block;
  padding: 0 4px;
  padding-bottom: 1rem;
  color: #f2f2f2;
  opacity: 0.8;
  font-weight: 300;
}
@media (max-width: 600px) {
  .landing-content p {
    font-size: 1.1rem;
    display: block;
    padding-bottom: 0.5rem;
    color: white;
    width: 100%;
  }
}
.header-btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .header-btn {
    display: inline-block;
    font-size: 1rem;
    padding-top: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0.6rem;
  }
}
.header-btn:hover {
  color: #34b3a0;
  background: white;
  transition-duration: 300ms;
  text-decoration: none;
}
.card-grid-wrap .row {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .card-grid-wrap .row {
    margin-bottom: 30px;
  }
}
.code-icon {
  display: block;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  min-height: 206px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  border: none;
}
.card img {
  width: 130px;
}
.html5-icon {
  color: #e34f26;
}
.css3-icon {
  color: #29a8e0;
  min-height: 130px;
}
.javascript-icon {
  color: #8acf17;
  min-height: 130px;
}
.my-skills {
  text-align: center;
  font-size: 3rem;
  /* border-bottom: solid 1px grey; */
  color: #34b3a0;
  margin-bottom: 2rem;
}
.design-line {
  border: none;
  border-bottom: 3px solid #222;
  width: 70px;
  margin: 20px auto;
}
.about-me {
  text-align: center;
}
.about-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.about-container .row {
  justify-content: center;
}
@media (max-width: 768px) {
  .about-container {
    padding: 0 0px;
    width: 95%;
  }
}
#contact-me {
  padding: 50px 0;
  max-width: 100%;
  overflow-x: hidden;
}
@media (max-width: 525px) {
  #contact-me {
    padding: 20px 0;
  }
}
#about p {
  max-width: 700px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  width: 95%;
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 500;
}
@media (max-width: 920px) {
  #about p {
    text-align: left;
  }
}
@media (max-width: 550px) {
  #about p {
    line-height: 2;
  }
}
#about a {
  color: #34b3a0;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.6;
  font-family: sans-serif;
}
#about a:hover {
  opacity: 1;
}
.alert-form {
  color: white;
  text-align: center;
  font-size: 2rem;
  background: green;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  border: solid 1px green;
  border-radius: 7px;
  margin-bottom: 30px;
}
@media (max-width: 525px) {
  .alert-form {
    margin-bottom: 10px;
  }
}
.form-button {
  margin-bottom: 15px !important;
}
#submit {
  background-color: #34b3a0;
  color: white;
}
#contactForm {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
.github {
  margin-top: 100px;
}
@media (max-width: 825px) {
  .github {
    margin-top: 70px;
  }
}
@media (max-width: 600px) {
  .github {
    margin-top: 40px;
  }
}
.github a {
  text-decoration: none;
}
.github a h1 {
  text-align: center;
  margin-bottom: 0px;
  color: #34b3a0;
}
@media (max-width: 600px) {
  .github a h1 {
    font-size: 2.2rem;
    width: 90%;
    margin: auto;
  }
}
.github h2 {
  color: #34b3a0;
}
.github .design-line {
  margin-bottom: 50px;
}
.github .github-repos {
  text-align: center;
}
.github .github-repos a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #222;
}
.github .github-repos p {
  max-width: 250px;
  margin: 10px auto 0;
  min-height: 80px;
}
.github .badge {
  width: 60%;
  margin: 3px auto;
  padding: 10px;
}
.car-img {
  color: #34b3a0;
  font-size: 2.5rem;
}
.my-work {
  margin-top: 30px;
  color: #34b3a0;
  font-size: 3rem;
  margin-bottom: 20px;
}
#myWork {
  margin-top: 120px;
}
.my-work-hr {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  border-top: 3px solid #333;
  display: inline-block;
}
@media (max-width: 500px) {
  .my-work-hr {
    display: none;
  }
}
/* treehouse api styles */
.treehouse-info .design-line {
  margin-bottom: 50px;
}
.treehouse-api-container img {
  width: 200px;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.treehouse-api-container {
  max-width: 1500px;
  margin: auto;
}
.treehouse-card {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 15px;
}
.treehouse-h3 {
  color: #34b3a0;
}
.treehouse-link {
  text-decoration: none;
  font-weight: 700;
  color: #333;
  opacity: 0.8;
  background: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  text-align: center;
  width: 150px;
  transition: 200ms ease-out;
}
.treehouse-link:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
  transition: 200ms ease-in;
}
/* testimonial */
.testimonial-wrapper {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .testimonial-wrapper {
    width: 85%;
    margin: 50px auto;
    text-align: center;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .testimonial-wrapper {
    width: 95%;
    margin: 50px auto;
    text-align: center;
    margin-top: 50px;
  }
}
.testimonial-wrapper p {
  max-width: 600px;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  .testimonial-wrapper p {
    font-size: 1.1rem;
  }
}
.testimonial-wrapper h1 {
  max-width: 700px;
  margin: 10px auto;
  font-size: 1.8rem;
}
@media (max-width: 600px) {
  .testimonial-wrapper h1 {
    font-size: 1.5rem;
  }
}
.testimonial-wrapper .carousel-indicators {
  bottom: -40px;
}
.testimonial-wrapper .carousel-indicators li {
  background-color: #222;
  opacity: 0.8;
  cursor: pointer;
}
.testimonial-wrapper .carousel-indicators li:hover {
  opacity: 1;
}
.testimonial-wrapper .carousel-indicators .active {
  background-color: #34b3a0;
}
.testimonial-stars i {
  color: #34b3a0;
}
.testimonial-wrapper p i {
  margin-right: 5px;
  margin-top: 20px;
}
.testi-img {
  color: #34b3a0;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .testi-img {
    display: none;
  }
}
.fa-chevron-right {
  animation: bounce 2s infinite;
}
/* testi icon animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
video {
  margin: 0;
  padding: 0;
}
.lightbox-container img,
.lightbox-container video {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
  transition: 500ms;
  object-fit: fill;
}
@media (max-width: 768px) {
  .lightbox-container img,
  .lightbox-container video {
    height: auto;
    min-height: 200px;
  }
}
.lightbox-container img:hover,
.lightbox-container video:hover {
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}
.lightbox-container span {
  cursor: zoom-in;
}
.modal-wrapper {
  position: relative;
  margin-top: 0 !important;
}
.image-modal {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.93);
  position: fixed;
  top: 0;
  z-index: 10000;
  display: none;
  color: white;
  text-align: center;
}
.image-modal a {
  color: #34b3a0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 5px;
}
.image-modal p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 5px auto;
}
.image-modal h1 {
  margin: 10px auto 5px;
  font-size: 1.6rem;
}
.image-modal span {
  position: fixed;
  top: -10px;
  right: -70px;
  z-index: 100001;
  color: white;
  font-size: 4rem;
  cursor: pointer;
  transition: 300ms;
}
.image-modal span:hover {
  color: red;
  transition: 300ms;
}
@media (max-width: 1000px) {
  .image-modal span {
    position: fixed;
    top: -80px;
    right: 0px;
  }
}
.image-modal img {
  width: 100%;
  cursor: zoom-out;
  max-height: 625px;
}
.image-modal-content-wrapper {
  width: 70vw;
  display: block;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .image-modal-content-wrapper {
    width: 85vw;
  }
}
@media (max-width: 767px) {
  .image-modal-content-wrapper {
    width: 90vw;
  }
}
