.about-me {
  text-align: center;
  color: white;
  /* padding: 0 !important; */
}
.about-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
#contact-me-h3 {
  color: white;
}
#contact-me {
  width: 100vw !important;
  padding: 50px 0;
}

#about p {
  /* margin-top: 20px; */
  max-width: 700px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 20px;
  width: 95%;
  @media (max-width: 920px) {
    text-align: left;
  }
}
#about a {
  color: #34b3a0;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.6;
  font-family: sans-serif;
  &:hover {
    opacity: 1;
  }
}

.alert-form {
  color: white;
  text-align: center;
  font-size: 2rem;
  background: green;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  border: solid 1px green;
  border-radius: 7px;
  margin-bottom: 30px;
}
.form-button {
  margin-bottom: 15px;
}
#submit {
  background-color: #34b3a0;
  color: white;
}
#contactForm {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
